html,
body {
  height: 100%;
  font-family: CJLIGHT;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}
/* CJ 글씨체 */
@font-face {
  font-family: CJBOLD;
  src: url(../font/CJ_ONLYONE_NEW_title_Bold.woff) format('woff');
}
@font-face {
  font-family: CJLIGHT;
  src: url(../font/CJ_ONLYONE_NEW_body_Light.woff) format('woff');
}
h1{
	font-family: CJBOLD;
	font-size:1.75rem;
}
h3{
	font-family: CJBOLD;
}

h4{
	font-family: CJBOLD;
	font-size:1rem;
	color:#293d87;
}
/* 링크 텍스트 */
.link{
  font-family: CJLIGHT;
  color:#ffc482;
  background-color:#fff;
  border-color:#ededed;
  text-decoration: underline;
}
/* 버튼 스타일 */
.btn_blue_default {
  font-family: CJBOLD;
  color:#fff;
  background-color:#9cbdff;
}
.btn_white_default {
  font-family: CJBOLD;
  color:#9cbdff;
  background-color:#fff;
  border-color:#b8b8b8;
}
/* 헤더 스타일 */
#header {
    /*항상 고정적*/
    position: fixed;
    width:100%;
    height:50px;
    background-color:white;
    border-bottom:1px solid #d4d4d4;
    
    top:0;
    left:0;/*왼쪽 상단을 기준으로 header가 들어감*/
    
    z-index:9999;
}
#header h3{
	font-family: CJBOLD;
	font-size:1.3rem;
	color:#a1a1a1;
}
#header .left{
    position:absolute;
    width:25px;
    height:25px;
    background:url('../img/back.png');
    background-size:100%;
    
    top:12px;
    left:16px;/*브라우저 기준*/
    
    cursor:pointer;
    opacity: 0.7;
}

#header .right{
    position:absolute;
    width:20px;
    height:20px;
    background:url('../img/cart.png');
    background-size:100%;
    border:0;
    outline:0;
    
    top:12px;
    right:16px;/*브라우저 기준*/
    
    cursor:pointer;
    opacity: 0.7;
}


#header .logo{
    padding-top:12px;
    text-align:center;
}

#header .logo img {
    height:25px;
}
/* 하단 스타일 */
#footer{
	position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color:#9cbdff;
    
    /* font */
    font-family: CJBOLD;
	color:#fff;
	padding-top:12px;
    text-align:center;
	font-size:1.3rem;

	border-bottom:0;
	border-right:0;
	border-left:0;
    border-top:1px solid #d4d4d4;
   
	z-index:9999;
}
/* 입력 스타일 */
input {
	font-family: CJLIGHT;
}
p{
	font-family: CJLIGHT;
}
/* view */
.view{
 width: 100%;
 height:100%;
 margin-top: 50px;
}
