.item-view {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.list-group{
  max-height:550px;
  text-align:center;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  margin-top: 30px;
}
/* 표 스타일 */
a{
	font-family: CJBOLD;
	color: black;
}


/* 상단 스타일 */
#header .plus{
    position:absolute;
    width:25px;
    height:25px;
    
    font-size:1.3rem;
    font-family: CJBOLD;
    
    top:12px;
    left:16px;/*브라우저 기준*/
    
    cursor:pointer;
    opacity: 0.7;
}
/* 하단 스타일 */
#footerL{
	position:fixed;
    left: 0;
    bottom: 0;
    width: 50%;
	padding: 10px 0;
    background-color:#9cbdff;
    
    /* font */
    font-family: CJBOLD;
	color:#fff;
	padding-top:12px;
    text-align:center;
	font-size:1.3rem;

	border-bottom:0;
	border-right:0;
	border-left:0;
    border-top:1px solid #d4d4d4;
   
	z-index:9999;
}

#footerR{
	position:fixed;
    right: 0;
    bottom: 0;
    width: 50%;
	padding: 10px 0;
    background-color:#fff;
    
    /* font */
    font-family: CJBOLD;
	color:#9cbdff;
	padding-top:12px;
    text-align:center;
	font-size:1.3rem;

	border-bottom:0;
	border-right:0;
	border-left:0;
    border-top:1px solid #d4d4d4;
   
	z-index:9999;
}

