/* 아이템 슬라이드 */
.con_bb {
	width:90%; 
	height:150px; 
	margin:0 auto; 
	padding-bottom:5px; 
	position:relative; 
	overflow: hidden; 
}
 .rolling_panel ul {
	text-align:center;
	position: absolute;
	width: 100%;
	margin: 5px; 
	padding: 0; 
	list-style: none;
}
.rolling_panel ul li {
	text-align:center; 
	width: 100%; 
	height: 320px;
	z-index:9900;
}

/* 화살표 */
.leftarrow {
	width:50px; 
	left:5px; 
	margin-top:10%; 
	opacity: 0.2;
	z-index:9999;
	position:absolute;
}
.rightarrow {
	width:50px; 
	right:5px;
	margin-top:10%; 
	opacity: 0.2;
	z-index:9999;
	position:absolute;
}