.item-view {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.item-list{
    position:absolute;
	width:100%;
	max-height:80%;
	top:95px;
	left:0;
	-webkit-overflow-scrolling: touch;
	overflow:scroll; 
}
.recommend-list{
/* 	position:absolute;
 */	width:100%;
	max-height:40%;
	top:5px;
	bottom:5px;
	left:0;
	border-bottom:1px solid #d4d4d4;width:100%;
}
.list-group{
	width:100%;
	max-height:55%;
	top:45%;
	left:0;
	-webkit-overflow-scrolling: touch;
	overflow:scroll; 
}
.basket-group{
	position:absolute;
	width:100%;
	max-height:80%;
	top:55px;
	left:0;
	-webkit-overflow-scrolling: touch;
	overflow:scroll;
}

/* 표 스타일 */

#title{
	font-family: CJLIGHT;
	font-weight: bold;
	color: black;
}
a{
	text-decoration: underline;
}
/* 검색 */
.search{
	position:absolute;
	width:80%;
    height:30px;
	top:55%;
	left:8%;
	margin: 0 0 0 10px ;
    padding-top:12px;
    text-align:center;
}
/* 하단 스타일 */
#footerL{
	position:fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    height:60px;
	padding: 10px 0;
    background-color:#9cbdff;
    
    /* font */
    font-family: CJBOLD;
	color:#fff;
	padding-top:12px;
    text-align:center;
	font-size:1.3rem;

	border-bottom:0;
	border-right:0;
	border-left:0;
    border-top:1px solid #d4d4d4;
   
	z-index:9999;
}

#footerR{
	position:fixed;
    right: 0;
    bottom: 0;
    width: 50%;
    height:60px;
	padding: 10px 0;
    background-color:#fff;
    
    /* font */
    font-family: CJBOLD;
	color:#9cbdff;
	padding-top:12px;
    text-align:center;
	font-size:1.3rem;

	border-bottom:0;
	border-right:0;
	border-left:0;
    border-top:1px solid #d4d4d4;
   
	z-index:9999;
}