html, body {
	background-color: #F5F5F5;
}

div {
	background-color: white;
	top: 10px;
	left: 0;
}

table {
	width: 100%;
	text-align: center;
	margin-bottom:10px;
}

td {
	width: 50%;
	text-align: center;
	border-bottom: 1px solid #d4d4d4;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.sales {
	width: 90%;
	margin-top:10px;
}
.sale-list{
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	overflow: scroll;
}

#footerDelivDate{
	position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:30px;
    padding: 5px 0;
    background-color:white;
    
    /* font */
    font-family: CJBOLD;
	color:black;
	padding-top:5px;
    text-align:center;
	font-size:1rem;

	border-bottom:0;
	border-right:0;
	border-left:0;
    border-top:1px solid #d4d4d4;
   
	z-index:9999;
}
